{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="subject_allocate" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="row">SUBJECTS</th>
      <td><label>
        <select name="select" required>
             <option value="">Select</option>
          {% for i in val %}
          <option value="{{i[0]}}">{{i[1]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">STAFF</th>
      <td><label>
        <select name="select2" required>
             <option value="">Select</option>
          {% for i in vals %}
          <option value="{{i[1]}}">{{i[2]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Allote" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}
