{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="staffreg" method="post" name="form1" id="form1">
  <table width="200" border="0" class="table">
    <tr>
      <th colspan="2" scope="col">STAFF</th>
    </tr>
    <tr>
      <th scope="row">NAME</th>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z]{1,20}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><label>
        <input name="radiobutton" type="radio" value="Male" checked/>
      Male
      <input name="radiobutton" type="radio" value="Female" />
      Female</label></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label>
        <input type="date" name="textfield2"  min="1880-01-01" max="2005-31-12"  required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input type="text" name="textfield3" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label>
        <input type="text" name="textfield4" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label>
        <input type="text" name="textfield5" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label>
        <input type="text" name="textfield6" required  pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" required pattern="[a-z 0-9 . _ % + -]+@[a-z 0-9 . -]+\.[a-z]{2,3}$"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">QUALIFICATION</th>
      <td><label>
        <input type="checkbox" name="checkbox" value="degree"  checked/>
      degree 
      <input type="checkbox" name="checkbox" value="pg" />
      pg </label></td>
    </tr>
       <tr>
      <th scope="row">USERNAME</th>
      <td><label>
        <input type="text" name="textfield8" required />
      </label></td>
    </tr>
       <tr>
      <th scope="row">PASSWORD</th>
      <td><label>
        <input type="password" name="textfield9" required />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}
