{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="VIEWstaff">Staffs</a></th>
  </tr>
   <tr>
    <th scope="row"><a href="allocatesubj">Allote subjects</a></th>
  </tr>
   <tr>
    <th scope="row"><a href="allocatestaff">Allote exam</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="C_viewdpts">DEPARTMENTS</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/">LOGOUT</a></th>
  </tr>
</table>
{% endblock %}