{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
  <table width="200" border="0" class="table">
    <tr>
      <th scope="col">DEPARTMENT </th>
      <th scope="col">COURSE</th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>

    </tr>
      {% endfor %}
  </table>

{% endblock %}