{% extends 'index.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="clgreg" method="post"  name="form1" id="form1">
  <table width="200" border="0" class="table">
    <tr align="center">
      <th colspan="2" scope="col">COLLEGE REGISTRATION </th>
    </tr>
    <tr >
      <th scope="row">COLLEGE NAME</th>
      <td><label>
        <input type="text" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input type="text" name="textfield2" required />
      </label></td>
    </tr>
       <tr >
      <th scope="row">LATITUDE</th>
      <td><label>
        <input type="text" name="LAT"   required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"/>
      </label></td>
    </tr>
       <tr >
      <th scope="row">LONGITUDE</th>
      <td><label>
        <input type="text" name="LOGT"  required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"  />
      </label></td>
    </tr>
    <tr>
      <th scope="row">ADDRESS</th>
      <td><label>
        <input type="text" name="textfield3" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">USERNAME</th>
      <td><label>
        <input type="text" name="textfield5" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><label>
        <input type="password" name="textfield6"  required/>
      </label></td>
    </tr>
      <tr align="center">
       <th colspan="2" scope="row" align="center"><label>
        <input type="submit" name="Submit" value="Register" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}
