{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form id="form1" name="form1" method="post" action="">
  <table width="200"  border="0" class="table">
    <tr>
      <td>Username</td>
      <td>Complaint</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>
    <tr>{% for i in res%}
      <td>&nbsp;{{i[0]}}</td>
      <td>&nbsp;{{i[2]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td><a href="/reply?cid={{i[1]}}">Reply</a></td>
    </tr>{% endfor %}
  </table>
</form>
{% endblock %}