{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="update_exam" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="row">SUBJECT</th>
      <td><label>
        <select name="select">
          <option value="">Select</option>
          {% for i in vals %}
          <option value="{{i[0]}}" {% if val[3] == i[0] %} selected {% endif %}>{{i[1]}}</option>
        {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EXAM_DATE</th>
      <td><label>
        <input type="date" name="textfield" value="{{val[1]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EXAM_TIME</th>
      <td><label>
        <input type="time" name="textfield2" value="{{val[2]}}" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Update" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}