{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="updatestaffreg" method="post" name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th colspan="2" scope="col">STAFF</th>
    </tr>
    <tr>
      <th scope="row">NAME</th>
      <td><label>
        <input type="text" name="textfield" value="{{val[2]}}" required pattern="[A-Z a-z]{3,20}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><label>
        <input name="radiobutton" type="radio" value="Male" {%  if val[3] == 'Male' %} checked {% endif %} />
      Male
      <input name="radiobutton" type="radio" value="Female" {%  if val[3] == 'Female' %} checked {% endif %} />
      Female</label></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label>
        <input type="date" name="textfield2" value="{{val[4]}}" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val[5]}}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><label>
        <input type="text" name="textfield4"  value="{{val[6]}}" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><label>
        <input type="text" name="textfield5" value="{{val[7]}}" required   pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label>
        <input type="text" name="textfield6"  value="{{val[8]}}" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" value="{{val[9]}}" required pattern="[a-z 0-9 . _ % + -]+@[a-z 0-9 . -]+\.[a-z]{2,3}$"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">QUALIFICATION</th>
      <td><label>
        <input type="checkbox" name="checkbox" value="degree" {% for i in val[10].split(',') if i=="degree" %} checked {%  endfor%} />
      degree
      <input type="checkbox" name="checkbox" value="pg"  {% for i in val[10].split(',') if i=="pg" %} checked {%   endfor%} />
      pg </label></td>
    </tr>
       <tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="UPDATE" />
      </label></th>
    </tr>
  </table>
</form>
{% endblock %}