{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="addexamshedule" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="col">Exam_Date </th>
      <th scope="col">Exam_Time</th>
      <th scope="col">SUBJECT</th>
        <th scope="col"></th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[4]}}</td>
        <td><a href="/edit_schedule?id={{i[0]}}">Edit</a>
            <a href="/del_schedule?id={{i[0]}}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
    <input type="submit" name="sub" value="ADD EXAM SCHEDULES"/>
</form>
{% endblock %}