{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="addcourse#about" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="col">DEPARTMENT </th>
      <th scope="col">COURSE</th>
      <th scope="col"></th>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[1]}}</td>
      <td>&nbsp;<a href="/del_crse?id={{i[2]}}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
    <input type="submit" name="sub" value="ADD COURSE"/>
</form>

{% endblock %}
