{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form id="form1" name="form1" method="post" action="/rep">
  <table width="200">
    <tr>
      <td>Reply</td>
      <td><label for="rp"></label>
      <textarea name="rp" id="rp" cols="45" rows="5" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="sd" id="sd" value="Send" />
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
