{% extends 'clgindex.html' %}
{% block body %}

<body>
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <th scope="col">SUBJECT</th>
      <th scope="col"><label>
        <select name="select">
        </select>
      </label></th>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="DOWNLOAD QP" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
