{% extends 'clgindex.html' %}
{% block body %}

<body>
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <th scope="row">STATUS</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="UPDATE" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
