{% extends 'clgindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="regstaff#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="0" class="table">
    <tr>
      <th scope="col">NAME </th>
      <th scope="col">GENDER</th>
      <th scope="col">DOB</th>
      <th scope="col">ADDRESS</th>
       <th scope="col">PHONE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Qualification</th>
      <th></th>   </tr>
    {% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>&nbsp;{{i[5]}} {{i[6]}} {{i[7]}}</td>
      <td>{{i[8]}}</td>
      <td>&nbsp;{{i[9]}}</td>
      <td>{{i[10]}}&nbsp;</td>
       <td><a href="/edit_staff?id={{i[1]}}">Edit</a>
            <a href="/del_staff?id={{i[1]}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
   <input type="submit" name="sub" value="ADD STAFF"/>
</form>

{% endblock %}