{% extends 'clgindex.html' %}
{% block body %}
<body>
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <th scope="col">NOTIFICATION</th>
      <th scope="col">DATE</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
