{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="/dept_rg" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="row">COLLEGE</th>
      <td><label>
        <select name="select" required>
          <option value="">Select</option>
          {%for i in val %}
          <option value="{{i[1]}}">{{i[2]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">DEPARTMENT</th>
      <td><label>
        <input type="text" name="textfield"  required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>

{% endblock %}
