{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<form action="/subjectreg" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="row">DEPARTMENT</th>
      <td><label>
        <select name="select" id="select" required>
          <option value="">Select</option>
          {% for i in val %}
          <option value="{{i[0]}}">{{i[1]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">COURSE</th>
      <td><label>
        <select name="select2" id="select2">
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">SUBJECT</th>
      <td><label>
        <input type="text" name="textfield"  required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>

<script>

$(document).ready(function(){

    $("select#select").change(function() {

        if ($(this).val() != 'default') {

            var br = $('#select option:selected').val();


            $.ajax({
                type: 'POST',
                url: "/course_select",
                data: { dept: br },

                success: function(response) {
                var opt = '';
    for (var i=0, l=response.length; i<l; i=i+2)
    {
        opt+='<option value="'+response[i]+'">'+response[i+1]+'</option>';

}

 $('select#select2').html('').prop('disabled',false)
    $('select#select2').append(opt);
                }
            });
        }
        else {
            $('select#select2').html('').prop('disabled',true);
        }
    });
});
</script>

{% endblock %}