{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="add_exam" method="post"  name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="row">SUBJECT</th>
      <td><label>
        <select name="select" required>
          <option value="">Select</option>
          {% for i in val %}
          <option value="{{i[0]}}">{{i[1]}}</option>
        {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EXAM_DATE</th>
      <td><label>
        <input type="date" name="textfield"  required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">EXAM_TIME</th>
      <td><label>
        <input type="time" name="textfield2"  required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></th>
    </tr>
  </table>
</form>

{% endblock %}
