{% extends 'adminindex.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200"  border="0" class="table">
    <tr>
      <th scope="col">COLLEGE NAME </th>
      <th scope="col">PLACE</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">PHONE</th>
      <th scope="col">&nbsp;</th>
    </tr>{% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td><p><a href="/approvecollege?id={{i[1]}}">Approve</a></p>
      <p><a href="/rejectcollege?id={{i[1]}}">Reject</a></p></td>
    </tr>{% endfor %}
  </table>
</form>
{% endblock %}
