{% extends 'adminindex.html' %}
{% block body %}
<!--<table width="200" border="1">-->
  <!--<tr>-->
    <!--<th scope="row"><a href="approve">APPROVE/REJECT COLLEGES</a></th>-->
  <!--</tr>-->
   <!--<tr>-->
    <!--<th scope="row"><a href="approvedclgs">APPROVED COLLEGES</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="adddept">ADD DEPARTMENT</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><p><a href="Manage_course">ADD & MANAGE COURSE</a></p>-->
    <!--</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="Manage_subjects">SUBJECTS</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="exam_schedules">ADD EXAM SHEDULE</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="uploadqp">UPLOAD QUESTION PAPER</a></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row"><a href="complaint">COMPLAINTS & REPLY</a></th>-->
  <!--</tr>-->
    <!--<tr>-->
    <!--<th scope="row"><a href="/">LOGOUT</a></th>-->
  <!--</tr>-->
<!--</table>-->
{% endblock %}