{% extends 'index.html' %}
{% block body %}
<style>
tr{
background-color:#4CAF50;
color:white
}
</style>
<div align="center">
<form action="log1" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="496" border="0" class="table">
    <tr>
      <th width="203" height="77" scope="row">USER NAME </th>
      <td width="283"><label>
        <input type="text" name="textfield" required />
      </label></td>
    </tr>
    <tr >
      <th height="67" scope="row">PASSWORD</th>
      <td><label>
        <input type="password" name="textfield2"  required/>
      </label></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row" align="center">
        
          <input type="submit" name="Submit" value="LOGIN" />
          
      </th>
    </tr>

  </table>
 
</form>
  </div>
{% endblock %}
